<div class="container mt-5">
    <h3>Registered Students</h3>
    <div class="row mb-3 mt-5">
      <div class="col-6">
        <a routerLink="/register" class="btn btn-primary">
          ← Back to Registration
        </a>
      </div>
      <div class="col-6 text-end">
        <select class="form-select" [(ngModel)]="selectedCourse" (change)="filterStudents()">
          <option value="">All Courses</option>
          <option value="Angular">Angular</option>
          <option value="React">React</option>
          <option value="Vue">Vue</option>
        </select>
      </div>
    </div>
  
    <table class="table table-striped table-bordered table-hover">
      <thead class="table dark">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Course</th>
          <th>Gender</th>
          <th>Terms Accepted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stud of filteredStudents">
          <td>{{stud.firstName}}</td>
          <td>{{stud.lastName}}</td>
          <td>{{stud.email}}</td>
          <td>{{stud.phoneNumber}}</td>
          <td>{{stud.course}}</td>
          <td>{{stud.gender}}</td>
          <td>{{stud.termsCondition}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  